body {
	background: url('stadium.jpg') no-repeat center center fixed;
	background-size: 100% 100%;
}

.row {
	background-color: rgba(211, 211, 211, .75);
}

#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 600px;
  overflow: auto;
}

.btn-primary {
	width: 100%;
}